.App {
  text-align: center;
}
.task {
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table > table > thead > tr > th {
  border: 1px solid;
}
.table > table > thead > tr > th:nth-child(1) {
  width: 300px;
}
.table > table > thead > tr > th:nth-child(2) {
  width: 150px;
}
.table > table > thead > tr > th:nth-child(3) {
  width: 150px;
}
.table > table > thead > tr > th:nth-child(4) {
  width: 150px;
}
.table > table > thead > tr > th:nth-child(5) {
  width: 150px;
}
.table > table > thead {
  background-color: #ffd365;
}
.table > table > thead > tr > th {
  font-size: 20px;
}
.notdone {
  background-color: #b5fe83;
}

.done {
  background-color: #EF5350;
}
.done > td {
  text-decoration: line-through;
}

.table > table > tbody > tr > td {
  border: 1px solid;
  box-sizing: border-box;
}

.table > table > tbody > tr > td:nth-child(4) > button {
  width: 100%;
}

.table > table > tbody > tr > td:nth-child(5) > button {
  width: 100%;
}
